<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <title>{% block title %}Med Schedule{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'project/styles.css' %}">
</head>
<body>
    <header>
        <h1>Med Schedule</h1>
        <nav>
            <ul>
                <li><a href="/project">Your Schedule</a></li>
                <li><a href="/project/medicines/">Your Medicines</a></li>
                <li><a href="/project/add_schedule/">Add Schedule</a></li>
                <li><a href="/project/check_interactions/">Check Interactions</a></li>
                <li><a href="/project/medicine_search/">Search For Medicines</a></li>
            </ul>
        </nav>
    </header>

    <main>
        {% block content %}
        {% endblock %}
    </main>

    <footer>
        <p>&copy; 2024 Med Schedule</p>
    </footer>
</body>
</html>
