{% extends 'restaurant/base.html' %}

{% block content %}
    <h4>Welcome to Ichiraku Ramen!</h4>
    <p class="p1">Location: Hidden Leaf Village</p>
    <p class="p1">Hours of Operation:</p>
    <table>
        <thead>
            <tr>
                <th>Day</th>
                <th>Hours</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Monday - Friday</td>
                <td>11 AM - 10 PM</td>
            </tr>
            <tr>
                <td>Saturday - Sunday</td>
                <td>9 AM - 11 PM</td>
            </tr>
        </tbody>
    </table>
    <img src="https://www.fujiq.jp/restaurant/ilnf270000000ubz-img/1.jpg" alt="Ichiraku Ramen Shop">
    <p class="p2"> The best ramen in the world!</p> 
{% endblock %}
