<!DOCTYPE html>

{% load static %}
<html lang="en">
<head>
    <title>Mini FB</title>
    <link rel="stylesheet" href="{% static 'mini_fb/styles.css' %}?v={{ timestamp|date:'U' }}">
</head>

<body>
    <header>
        <h1>Welcome to MiniFaceBook</h1>
        <nav>
            {% if user.is_authenticated %}
                <p>Logged in as {{ user.username }}</p>
                
                <form action="{% url 'logout' %}" method="post" style="display: inline;">
                    {% csrf_token %}
                    <a href="#" onclick="this.closest('form').submit();" class="button">Logout</a>
                </form>
        
                <a href="{% url 'show_profile' user.profile.pk %}" class="button">My Profile</a>
            {% else %}
                <a href="{% url 'login' %}" class="button">Login</a>
                <a href="{% url 'create_profile' %}" class="button">Create a New Profile</a>
            {% endif %}

            <a href="{% url 'show_all_profiles' %}" class="button">Show All Profiles</a>
        </nav>
        
    </header>   
    
    <div>
        {% block content %}
        {% endblock %}
    </div>
    
    <footer>
        <p>MiniFaceBook</p>
    </footer>
</body>

</html>