body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #FF69B4;
    color: #333;
}

img {
    max-width: 100%;  
    height: auto;      
    display: block;    
    margin: 0 auto;   
}

.container {
    display: flex;             
    justify-content: center;   
    width: 900px;              
    height: 600px;             
    overflow: hidden;         
    margin: 0 auto;          
    border: 5px solid #800080;   
    background-color: #FF69B4; 
}

.container2 {
    display: flex;             
    justify-content: center;   
    width: 600px;              
    height: 300px;             
    overflow: hidden;         
    margin: 0 auto;          
    padding-bottom: 15px;
}

h1 {
    text-align: center;
    color: #FFD700;
}

h2 {
    text-align: center;
    color:#FFD700;
}

h4 {
    text-align: center;
    color:#FFD700;
}

h5 {
    text-align: center;
    color:#FFD700;
    font-size: 20px;
}

h6 {
    text-align: center;
    color: #FFD700;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 50px;
}

p {
    text-align: center;
    color: #FFD700;
    font-weight: bold;
    font-size: 40px;
    padding-bottom: 100px;
}

nav ul {
    background-color: #800080; 
    padding: 10px;
    text-align: center;
}

nav ul li {
    display: inline;
    margin: 0 15px;
}

nav ul li a {
    color: #FFD700; 
    text-decoration: none;
    font-weight: bold;
}

ul li {
    padding: 10px 0; 
}

h3 {
    font-size: 12px;
    text-align: center;
    font-weight: lighter;
}
